<body>
    <header class="header">

        <nav class="nav wrapper">

            <nav class="nav__content">

                <a href="../public/index1.html#" class="content__brand">
                    <div class="logo">
                        <img src="../../assets/ecamella/logo-ecamella.png" alt="" style=" height: 50px;">
                    </div>
                </a>

                <div class="nav__options">

                    <div class="btn display-none">
                        <a (click)="goToTrabajadores()" class="nav__option" style="border-color: #79c226; background-color: #79c226; color: white;">
                            <b>Trabaja ya</b>
                        </a>

                        <a (click)="goToUsuarios()"  class="nav__option" >
                            <b>Contrata ya</b>
                        </a>
                    </div>


                    <div class="hamburger">
                        Menu
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>

                </div>


            </nav>
        </nav>
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>

    </header>



    <section class="hero" id="hero">

        <div class="content-sections wrapper grid">
            <div class="description-section">
                <h1 class="h1">
                    <span class="text-alt">¡Encuentra las mejores posibilidades de trabajo en </span>ECU!
                </h1>
                <!--  <div class="divider">
                    <div class="vertical-line"></div>
                </div> -->
                <h2 class="h2">
                    Tú siéntate y espera que el trabajo llegue a las puertas de tu casa
                    

                </h2>

                <div class="content-button">
                    <a href="https://9000-idx-project-logos-1728309880809.cluster-uf6urqn4lned4spwk4xorq6bpo.cloudworkstations.dev/sign-upl"  class="button" style="background-color: #79c226;">Trabaja ya</a>
                    <a href="../public/index2.html"  class="button" style="margin-left: 15px;">Contrata ya</a>
                    
                </div>
            </div>
            <div class="content-image">
                <div class="image-section">
                    <img src="../../assets/ecamella/img1.PNG" style="height: 500px;" alt="">
                </div>
            </div>

        </div>    </section>

    <section id="servicios" class="services">
        <div class="content-sections wrapper grid reveal">
            <div class="container-section">
                <div class="description-section" >
                    <h1 class="h1" style="color: black;">Tu mejor opción para trabajar    
                    </h1>
                    <p style="color: black;">Rápido, confiable y fácil de usar .</p>
                </div>

                <div class="content-card grid-card">
                    <div class="card">
                        <div class="header-card">
                            <div class="icon-card">
                                <img src="../../assets/ecamella/C1.png" alt="">
                            </div>
                            <div class="title-card">
                                <h1 class="h1">
                                    
                                    Búsqueda rápida y confiable de empleos
                                </h1>
                            </div>
                        </div>
                        <div class="contains-card">
                            <p>
                                Facilitamos tu búsqueda de empleo, conectándote con oportunidades laborales que se alinean con tu experiencia, asegurando eficiencia y fiabilidad en cada postulación.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header-card">
                            <div class="icon-card">
                                <img src="../../assets/ecamella/C2.png" alt="">
                            </div>
                            <div class="title-card">
                                <h1 class="h1">
                                    Acceso a ofertas actualizadas en tiempo real
                                </h1>
                            </div>
                        </div>
                        <div class="contains-card">
                            <p>
                                Ofrecemos a nuestros usuarios un acceso inmediato a las ofertas de trabajo disponibles, permitiéndoles aprovechar todas las oportunidades relevantes al instante.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header-card">
                            <div class="icon-card" style="width: 5.5rem;">
                                <img src="../../assets/ecamella/C3.png" alt="">
                            </div>
                            <div class="title-card">
                                <h1 class="h1">
                                    Evaluación del proceso de selección por parte del usuario
                                </h1>
                            </div>
                        </div>
                        <div class="contains-card">
                            <p>
                                Los usuarios pueden evaluar en línea el proceso de selección y la calidad de las oportunidades laborales, además de dejar comentarios y sugerencias sobre su experiencia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="sale">

        <div class="content-sections wrapper grid reveal">

            <div class="content-image">
                <div class="image-section">
                    <img src="../../assets/ecamella/img2.png" style="border-radius: 30px;" alt="">
                </div>
            </div>
            <div class="description-section">
                <h1 class="h1" style="color: black;">
                    <i class="fa fa-search" style="font-size:30px"></i> <!-- Icono -->
                    Búsquedas rápidas y sencillas 
                </h1>
               <!--  <div class="divider">
                    <div class="vertical-line"></div>
                </div> -->
                <h2 class="h2" style="color: black;">
                    Siempre estamos atentos a las distintas ofertas para garantizarte el mejor trabajo posible. Atención al cliente siempre disponible para ayudarte.
                </h2>

                <div class="content-button" style="justify-content: center;">
                    <a href="https://9000-idx-project-logos-1728309880809.cluster-uf6urqn4lned4spwk4xorq6bpo.cloudworkstations.dev/sign-up"  class="button" >Busca ya</a>
                </div>
              
               <!--  <div class="content-button">
                    <a href="" class="button">Comienza tu prueba de 14 días</a>
                </div> -->
            </div>
           
        </div>
    </section>




    <section class="phrases">
        <div class="layer padding-sections-2">
            <div class="content-sections wrapper grid reveal">
                <div class="container-section">
                    <div class="description-section">
                        <h1 class="h1">
                            ¿Buscas trabajos?
                        </h1>
                        <h2 class="h2">
                            Nuestro objetivo es ofrecerte la mejor experiencia en la gestión de faltas de empleo. 
                            Comunícate con nosotros y permítenos impresionarte con un servicio excepcional.
                        </h2>

                        <div class="phrases-content-button">
                            <a href="https://9000-idx-project-logos-1728309880809.cluster-uf6urqn4lned4spwk4xorq6bpo.cloudworkstations.dev/sign-up" class="button" style="background-color: #79c226;">Regístrate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <div class="container-btn-movil">
        <div class="btn">
            <a href="https://9000-idx-project-logos-1728309880809.cluster-uf6urqn4lned4spwk4xorq6bpo.cloudworkstations.dev/sign-up"  class="nav__option">
                Trabaja ya
            </a>

            <a href="https://9000-idx-project-logos-1728309880809.cluster-uf6urqn4lned4spwk4xorq6bpo.cloudworkstations.dev/sign-up"  class="nav__option">
                Contrata ya
            </a>
        </div>

    </div>

    <footer class="footer">

        <div class="container-footer wrapper">

            <div class="content-footer">
                <div class="container">
                    <div class="contains-logo">
                        <div class="logo-white">
                            <img src="../../assets/ecamella/logo-ecamella.png" alt="" style="width: 170px;">
                        </div>
                        <div class="container-producer">
                            <div class="producer">
                                <p> PRODUCIDO POR: CAMELLA EC</p>
                                <P>GUAYAQUIL - ECUADOR</P>
                            </div>
                        </div>
                    </div>

<!--                     <div class="container-producer">
                        <div class="producer">
                            <p style="font-weight: 600; font-size: 1.1rem; margin-block-start: 0em;">Dirección:</p>
                            <p
                                style="font-weight: 600; font-size: 1rem; margin-block-start: 0.5em; margin-block-end: 0rem;">
                                Guayaquil:</p>
                            <p style="margin-block-start: 0.5em; margin-block-end: 0.5em;">Logos Academy
                                </br>(Km 14.5, Vía a la Costa)</p>
                        </div>
                    </div> -->


                    <div class="ayuda">
                        <p class="font-weight">¿NECESITAS CONTACTARNOS?</p>
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-at"></i>
                                </div>
                                <div class="email color-white">
                                    <p>Email: info&#64;camella.ec</p>
                                </div>
                            </li>

                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="phone color-white"><span class="color-white">Teléfono: </span>
                                    (593) 0987654321
                                </div>
                            </li>
                        </ul>

<!--                         <div class="contains-social-media">
                            <p class="font-weight">Redes sociales</p>
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="assets/images/social/facebook.svg" alt="" srcset="" width="30px">

                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="assets/images/social/instagram.svg" alt="" srcset="" width="30px">

                                    </a>
                                </li>
                            </ul>
                        </div> -->
                    </div>



                </div>

                <div class="container-copy">
                    <div class="copyright">
                        <p>© <span id="fecha">2024</span> Camella EC. Todos los derechos reservados.</p>
                        <p>Diseñado y Desarrollado por: Estudiantes de Logos Academy</p>
                    </div>
                </div>
            </div>

        </div>

    </footer>



    <!-- <a href="https://wa.me/447713604940?text=Hola Bon Appétit!%20Me%20encantaría%20conocer%20más%20sobre%20su%20producto%20"  class="button-whatsapp">
        <i class="fab fa-whatsapp"></i>
    </a> -->





    <!-- ===== IONICONS ===== -->


    <!--===== MAIN JS =====-->
    <script src="assets/js/main.js"></script>
    <!--  <script src="assets/library-aos/aos-master/dist/aos.js"></script>
    <script>

        AOS.init();
    </script> -->
</body>