<body>
    <div class="container">
        <div class="main">
            <div class="content">

                <!-- No cambiar nada ya esta configurado con la base de datos -->
                <div class="job-cards">
                    <ng-container *ngIf="!isLoading">
                    <div class="boton-modal" *ngFor="let job of jobs" >
                        <label for="btn-modal" (click)="openModal(job)">
                            <div class="card">
                                <div class="card-header">
                                    <div class="job-info">
                                        <div style="display: flex; align-items: center;">
                                            <!-- Avatar con iniciales -->
                                            <div [ngStyle]="{
                                                'width': '50px',
                                                'height': '50px',
                                                'border-radius': '50%',
                                                'background-color': '#007bff',
                                                'color': 'white',
                                                'display': 'flex',
                                                'justify-content': 'center',
                                                'align-items': 'center',
                                                'font-size': '20px'
                                              }">
                                                {{ getInitials(job?.fullname) }}
                                            </div>
                                        </div>
                                        <div>

                                            <h5>{{job?.fullname}} <span *ngIf="job.isApplied"
                                                    class="badge badge-success"> - Ya estás postulado</span> </h5>

                                            <p>{{job.location}}</p>
                                        </div>
                                    </div>
                                    <i class='bx bxs-error-alt'></i>
                                </div>
                                <div class="card-tags">
                                    <a *ngFor="let tag of job.tags">{{tag}}</a>
                                </div>
                                <div class="card-desc">
                                    {{job.description}}
                                </div>
                            </div>
                        </label>
                    </div>
                </ng-container>

                    <ng-container *ngIf="isCarga">
                        <div class="boton-modal" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]">
                          <div class="card">
                            <div class="card-header">
                              <div class="job-info">
                                <div style="display: flex; align-items: center;">
                                  <p-skeleton shape="circle" width="50px" height="50px"></p-skeleton>
                                </div>
                                <div style="margin-left: 10px;">
                                  <p-skeleton width="150px" height="20px"></p-skeleton>
                                  <p-skeleton width="100px" height="15px"></p-skeleton>
                                </div>
                              </div>
                            </div>
                            <div class="card-tags">
                              <p-skeleton width="80px" height="15px" *ngFor="let i of [1, 2, 3]"></p-skeleton>
                            </div>
                            <div class="card-desc">
                              <p-skeleton width="100%" height="50px"></p-skeleton>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                </div>

            </div>
        </div>

    </div>
    <input type="checkbox" id="btn-modal">
    <div class="container-modal" *ngIf="isModalOpen" (click)="closeModal($event)">
        <div class="content-modal" (click)="stopPropagation($event)">
            <div class="btn-cerrar">
                <label for="btn-modal" (click)="closeModal()"><i class='bx bx-x bx-rotate-90'></i></label>
            </div>
            <div id="modalboxes">
                <div id="trabajo">
                    <div id="name">
                        <h2 id="nombreTrabajo">{{ selectedJob?.title || '' }}</h2>
                        <h3 id="sectorTrabajo">{{ selectedJob?.location || '' }}</h3>
                        <hr size="1px" color="black" />
                    </div>

                    <p>{{ selectedJob?.description || '' }}</p>
                </div>

                <aside id="info">
                    <div class="card2">
                        <div class="card-inner2">
                            <div class="card-front2">
                                <h3>PRESUPUESTO</h3>
                            </div>
                            <div class="card-back2">
                                <h4>$ {{selectedJob?.budget || '' }}</h4>
                            </div>
                        </div>
                    </div>

                    <!-- Ya lo arreglo -->

                    <div id="checklist">
                        <div style="display: flex;" *ngFor="let r of selectedJob?.requirements; let i = index">
                            <input value="1" name="r" type="checkbox" [id]="'checkbox-' + i">
                            <label [for]="'checkbox-' + i">{{ r }}</label>
                        </div>
                    </div>

                </aside>

            </div>
            <footer id="empleador">

                <div id="foto" (click)="navigateToPage(selectedJob.publisher)" style="cursor: pointer; ">
                    <p-image
                        src="https://media.istockphoto.com/id/1171169099/es/foto/hombre-con-brazos-cruzados-aislados-sobre-fondo-gris.jpg?s=612x612&w=0&k=20&c=8qDLKdLMm2i8DHXY6crX6a5omVh2IxqrOxJV2QGzgFg="
                        alt="Image" width="200" height="200" />

                    <div id="perfil">
                        <h2>{{selectedJob?.fullname}}</h2>
                        <h3>Ofertante desde 21 de noviembre de 2024</h3>
                        <p>Esta oferta ha sido publicada por un usuario verificado. Esto significa que ha pasado por un proceso de validación para garantizar su autenticidad y confiabilidad. Puedes estar tranquilo de que estás viendo una oferta legítima y de confianza.</p> de noviembre 
                    </div>

                </div>

                <div id="postular">

                    <button *ngIf="!selectedJob?.isApplied" class="animated-button"
                        (click)="addDocumentToSubCollection()">
                        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                            </path>
                        </svg>
                        <span class="text">Postularse</span>
                        <span class="circle"></span>
                        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                            </path>
                        </svg>
                    </button>


                    <button *ngIf="selectedJob?.isApplied" class="animated-button">
                        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                            </path>
                        </svg>
                        <span class="text">Ya estás postulado</span>
                        <span class="circle"></span>
                        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                            </path>
                        </svg>
                    </button>

                </div>
            </footer>

            <label for="btn-modal" class="cerrar-modal"></label>

        </div>
    </div>

</body>

<!-- Popup de carga -->
<div *ngIf="isLoading" class="popup">
    <div class="loading-container">
        <div class="spinner"></div>
        <p>Por favor, espere mientras procesamos su postulación.</p>
    </div>

</div>

<p-toast></p-toast>